//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//<ОБНУЛЕНИЕ>===============
@use "clearstyle.scss";
//</ОБНУЛЕНИЕ>==============


//<ШИФТЫ>==============================================================================================================================================================
//==(добавить   &display=swap   при подключении через google fonts)==//
@use "./fonts/fonts.scss";

//<ИКОНОЧНЫЙ ШРИФТ>==============
//@import "./fonts/icons.scss";
//</ИКОНОЧНЫЙ ШРИФТ>=============
//</ШИФТЫ>=============================================================================================================================================================

//<ПЕРЕМЕННЫЕ>=========================================================================================================================================================
@use "./variables.scss" as *;
//</ПЕРЕМЕННЫЕ>========================================================================================================================================================

//<МИКСИНЫ>============
@use "mixin.scss" as *;
//</МИКСИНЫ>===========

//<HEADER>==============
@use "header.scss";
//</HEADER>=============

//<FOOTER>==============
@use "footer.scss";
//</FOOTER>=============

//<ASIDE>==============
@use "aside.scss";
//</ASIDE>=============

//<General>===================
@use "general.scss";
//</General>==================
 

//<СТРАНИЦЫ САЙТА>=========================================================================================================================================================

//<Page1>========================
//@use "./pages/page1.scss";
//</Page1>=======================

//</СТРАНИЦЫ САЙТА>========================================================================================================================================================
[class*="__container"] {
  margin: 0 auto;
}

[class*="_ibg"] {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}


body {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $mainColor;
  &._lock{
    overflow: hidden;
  }
}