//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//<ОБНУЛЕНИЕ>===============
@import "clearstyle.scss";
//</ОБНУЛЕНИЕ>==============


//<ШИФТЫ>==============================================================================================================================================================
//==(добавить   &display=swap   при подключении через google fonts)==//
@import "./fonts/fonts.scss";

//===========================================
$fontFamily: ""; //Шрифт по умолчанию
$fontSize: 14px; //Размер шрифта по умолчанию
$mainColor: #000; // Цвет шрифта по умолчанию
//===========================================

//<ИКОНОЧНЫЙ ШРИФТ>==============
//@import "./fonts/icons.scss";
//</ИКОНОЧНЫЙ ШРИФТ>=============
//</ШИФТЫ>=============================================================================================================================================================


//<ПЕРЕМЕННЫЕ>=========================================================================================================================================================
//<Основные цвета>======
$color1: #000;
$color2: #000;
$color3: #000;
//</Основные цвета>=====
//<Брейкпоинты>=========
$siteWidth: 1440;
$widthContainer: 1200;
$mb1: $widthContainer + 12;
$mb2: 991.92;
$mb3: 767.98;
$mb4: 479.98;
//</Брейкпоинты>========
//</ПЕРЕМЕННЫЕ>========================================================================================================================================================


//<МИКСИНЫ>============
@import "mixin.scss";
//</МИКСИНЫ>===========

//<HEADER>==============
@import "header.scss";
//</HEADER>=============

//<FOOTER>==============
@import "footer.scss";
//</FOOTER>=============

//<ASIDE>==============
@import "aside.scss";
//</ASIDE>=============

//<General>===================
@import "./general.scss";
//</General>==================
 

//<СТРАНИЦЫ САЙТА>=========================================================================================================================================================

//<Page1>========================
//@import "./pages/page1.scss";
//</Page1>=======================

//</СТРАНИЦЫ САЙТА>========================================================================================================================================================
[class*="__container"] {
  margin: 0 auto;
}

[class*="_ibg"] {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}


body {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $mainColor;
  &._lock{
    overflow: hidden;
  }
}